<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Allure Environment Writer">
    <test name="Allure Environment creator in AfterSuite" parallel="methods" thread-count="1">
        <classes>
            <class name="afterSuiteXmlExample.Tests"></class>
        </classes>
    </test>
</suite>